<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AI.ApplicationId" value="4b9b6b46-92f3-4868-8742-94c10a550cdc" />
    <add key="AI.ApiKey" value="yh6xxxr3xl7yyd3lukdgz5mbv2ny27cdss2ofcr2" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>